@model DataMarket.Web.Models.SeeDetailsViewModel
@{
    ViewBag.Title = "OverviewList";
}

<link href="~/Content/Datamarts_table.css" rel="stylesheet" />
<link href="~/Content/Menu_Buttons_style.css" rel="stylesheet" type="text/css" />
<link href="~/Content/See_Filters.css" rel="stylesheet" />
<link href="~/Content/Show-Hide-Content_style.css" rel="stylesheet" />

<h1>
    <i>
        These are the details of your list:
    </i>
</h1>
<section>
    <div class="tbl-header">
        <table cellpadding="0" cellspacing="0" border="0">
            <thead>
                <tr>
                    <th>@Html.Label(Model.ListName)</th>
                </tr>
            </thead>
        </table>
    </div>
    <div class="tbl-content1">
        <table>
            <tbody>
                @foreach (var itemByGroup in Model.ListItemsByGroup)
                {
                    <tr>
                        <td class="col-xs-12 col-md-8">@Html.Partial("SeeDetailsPartial", itemByGroup)</td>
                            <td class="col-xs-6 col-md-4">@Html.Partial("GroupNamePartial", itemByGroup.GroupName)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="myBottom-section">
        <table>
            <thead>
                <tr>
                    <th class="col-md-8" style="text-align:left">
                        <label>Created on:</label>
                        @Html.Label(Model.CreatedDate.ToShortDateString(), new { @class = "red" })

                    </th>
                    <th class="col-md-4">
                        Count:
                        @Html.Label(Model.EntireCount.ToString(), new { @class = "red" })
                    </th>
                </tr>
            </thead>
        </table>
    </div>
</section>

<table>
    <tr>
        <th class="col-md-8" style="text-align:left">
            <a id="goBackToMyLists" href="#">go back</a>
        </th>
        <th class="col-md-4">
            <button class="my-button" type="button" onclick="myFunction()">Delete</button>
            <button class="my-button" type="button" onclick="location.href='@Url.Action("ConsumerFilters", "Logged",  new { id = Model.Datamart, parent = 1 } )'">Create list with same filters</button>
        </th>
    </tr>
</table>
<input type="hidden" id="myId" value="@Model.SavedFilterId" />

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/Clean_sessionStorage.js"></script>
<script src="~/Scripts/Put_again_in_sessionStorage.js"></script>
<script src="~/Scripts/Confirm_screen.js"></script>