@model DataMarket.Web.Models.SeeFiltersViewModel

<link href="~/Content/Datamarts_table.css" rel="stylesheet" />
<link href="~/Content/Menu_Buttons_style.css" rel="stylesheet" type="text/css" />
<link href="~/Content/See_Filters.css" rel="stylesheet" />
<h1>
    <i>
        Here are your selected filters. You can choose to disable or remove them.
    </i>
</h1>
<section>
    <div class="tbl-header">
        <table cellpadding="0" cellspacing="0" border="0">
            <thead>
                <tr>
                    <th>@Model.Datamart Market</th>
                </tr>
            </thead>
        </table>
    </div>
    <div class="tbl-content1">
        <table>
            <tbody>
                @foreach (var itemByGroup in Model.ListItemsGrouped)
                {
                    <tr>
                        <td class="col-xs-12 col-md-8">@Html.Partial("SeeFiltersPartial", itemByGroup)</td>
                        <td class="col-xs-6 col-md-4">@Html.Partial("GroupNamePartial", itemByGroup.GroupName)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>  
    <div class="myBottom-section">
        <table>
            <thead>
                <tr>
                    <th class="col-md-8" style="text-align:left">
                    </th>
                    <th class="col-md-4">
                        <label for="count"> Count: </label>
                        <label id="countValue">0</label>
                    </th>
                </tr>
            </thead>
        </table>
    </div>
</section>

<table>
    <tr>
        <th class="col-md-8" style="text-align:left">
        </th>
        <th class="col-md-4">
            @switch (Model.BackToScreen)
            {
                case "ConsumerState":
                    {
                        <button class="my-button" type="button" onclick="location.href='@Url.Action(Model.BackToScreen, "Logged",  new { id = int.Parse(Session["datamartId"].ToString()), parent = 0 })'">Return to list</button>
                    }
                    break;
                case "ConsumerFilters":
                    {
                        <button class="my-button" type="button" onclick="location.href='@Url.Action(Model.BackToScreen, "Logged",  new { id = int.Parse(Session["datamartId"].ToString()), parent = 1 })'">Return to list</button>
                    }
                    break;
            }
        </th>
    </tr>
</table>
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/Select_Deselect_script.js"></script>